html{
    background: radial-gradient(#3e3c70, #01000c); 
    height: 100%;
}


h1{
    color:rgb(175, 240, 255)
}

.end{
    text-align: end;
}

#carte{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#soleil{
    width: 5%;
    height: auto;
    position: absolute;
}

#ceinture{
    width: 40%;
    height: auto;
    position: absolute;
}

#mercure{
    width: 1%;
    height: auto;
    position: absolute;
    top:46%;
    left: 46%; 
}

#venus{
    width: 2%;
    height: auto;
    position: absolute;
    top:43%;
    left: 43%; 
}

#terre{
    width: 2%;
    height: auto;
    position: absolute;
    top:40%;
    left: 40%; 
}

#mars{
    width: 1%;
    height: auto;
    position: absolute;
    top:38%;
    left: 38%; 
}

#ceinture{
    width: 25%;
    height: auto;
    position: absolute;
  
  }

#jupiter{
    width: 5%;
    height: auto;
    position: absolute;
    top:25%;
    left: 25%; 
}

#saturne{
    width: 11%;
    height: auto;
    position: absolute;
    top:13%;
    left: 13%; 
}

#uranus{
    width: 5%;
    height: auto;
    position: absolute;
    top:8%;
    left: 8%; 
}

#neptune{
    width: 3%;
    height: auto;
    position: absolute;
    top: 3%;
    left: 3%; 
}