html{
    background: radial-gradient(#3e3c70, #01000c); 
    height: 100%;
}


/* h1{
    color:rgb(175, 240, 255)
} */

/*couleur horloge*/


 /* img:hover{
    transform: scale(1.5);
} */

/* si on enlève le pointeur de toutes les img (ceinture), mettre la ligne dans chaque #concerné
ou faire une classe et l'intégrer dans le html*/

.end{
    text-align: end;
}

#carte{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#soleil{
    width: 5%;
    height: auto;
    position: absolute;
    cursor: pointer;
}

#ceinture{
    width: 40%;
    height: auto;
    position: absolute;
}

#mercure{
    width: 1%;
    height: auto;
    position: absolute;
    top:42%;
    left: 50%;
    cursor: pointer;
}

#venus{
    width: 2%;
    height: auto;
    position: absolute;
    top:42%;
    left: 45%;
    cursor: pointer;
}

#terre{
    width: 2%;
    height: auto;
    position: absolute;
    top:59%;
    left: 50%;
    cursor: pointer;
}

#mars{
    width: 1%;
    height: auto;
    position: absolute;
    top:61%;
    left: 55%;
    cursor: pointer;
}

#ceinture{
    width: 25%;
    height: auto;
    position: absolute;
  
  }

#jupiter{
    width: 5%;
    height: auto;
    position: absolute;
    top:30%;
    left: 32%;
    cursor: pointer; 
}

#saturne{
    width: 11%;
    height: auto;
    position: absolute;
    top:55%;
    left: 70%;
    cursor: pointer;
}

#uranus{
    width: 5%;
    height: auto;
    position: absolute;
    top:35%;
    left: 90%;
    cursor: pointer; 
}

#neptune{
    width: 3%;
    height: auto;
    position: absolute;
    top: 65%;
    left: 10%;
    cursor: pointer;
}

#soleil:hover {
    transform: scale(1.5);
}

#mercure:hover {
    transform: scale(2.5);
}

#venus:hover {
    transform: scale(1.5);
}

#terre:hover {
    transform: scale(1.5);
}

#mars:hover {
    transform: scale(2.5);
}

#jupiter:hover {
    transform: scale(1.5);
}

#saturne:hover {
    transform: scale(1.5);
}

#uranus:hover {
    transform: scale(1.5);
}

#neptune:hover {
    transform: scale(1.5);
}